*{
  box-sizing:inherit;
}
body{
  max-width: 800px;
  font-family: Calibri, Arial, sans-serif;
  padding:30px; 
    }

label{
  display:block;
  margin:1em 0 .1em;
  color: black;
  font-weight: bold;
  margin-right: 13em;
  text-align: start;
  width: 10em;
}

input, textarea{
  display:block;
  width:15.5em;
  padding:.3em;
  font-size:20px;
  background-color:#fbfbfb;
  border:solid 1px #CCC;
  resize:vertical;
}
textarea{
  min-height:80px;
}

  .sub{
    width: 7em;
    height: 3em;
    border: .5px solid lightgreen;
    background: lightgreen;
    outline: none;
    color: white;
    font-weight: bold;
    transition:all .3s ease-out;
}

.mess{
  margin-right: 15.5em;
}
.hole{
  margin: 0 0 0 25px; 
}
.name{
  margin-right: 15.5em;
  width: 10em;
}
@media screen and (min-width:600px) {
  form:after{
    content:'';
    display:block;
    clear:both;
  }
  .column{
    width:50%;
    padding:1em;
    float:left;
  }
}








