*{
  box-sizing:inherit;
}
body{
  background: white;
  max-width: 800px;
  font-family: Calibri, Arial, sans-serif;
  padding:30px; 
  background-image: url('https://t4.ftcdn.net/jpg/02/69/27/55/360_F_269275503_fL3Dx8hgvCDgrnuvbm8XLPHJ461QIM4o.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    }

label{
  display:block;
  margin:1em 0 .1em;
  color: white;
  font-weight: bold;
  margin-right: 13em;
  text-align: start;
}

input, textarea{
  display:block;
  width:100%;
  padding:.3em;
  font-size:20px;
  background-color:#fbfbfb;
  border:solid 1px #CCC;
  resize:vertical;
}
textarea{
  min-height:80px;
}

  .sub{
    width: 7em;
    height: 3em;
    border: .5px solid lightgreen;
    background: lightgreen;
    outline: none;
    color: white;
    font-weight: bold;
    transition:all .3s ease-out;
}

.column{
  margin-left: 20em;
}

.mess{
  margin-right: 15.5em;
}

.name{
  margin-right: 15.5em;
  width: 10em;
}
@media screen and (min-width:600px) {
  form:after{
    content:'';
    display:block;
    clear:both;
  }
  .column{
    width:50%;
    padding:1em;
    float:left;
  }
}








